
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;font-size:45px;">
        <b>Hello From Foodies</b>
        <br />
        <hr />
    </div>
    <div>
        <h1 style="color:gold;text-align:center;">You’re nearly there!</h1>

        <p>
            Hi @Viewbag.Name ,

            To finish setting up your account and start with Foodies, confirm we’ve got the correct email for you.



            <a href="@Viewbag.ConfirmationLink"><h4  class="btn btn-primary">Verify Your Email</h4></a>

        </p>

    </div>




</body>
</html>
